%p#notice= notice
= link_to 'Editer', edit_codification_path(@codification)
= link_to 'Retour', codification_index_path
%table.table
	%tr
		%td
			= 'designation_fr'.humanize
		%td
			= 'designation_en'.humanize
		%td
			= 'planus'.humanize
		%td
			= 'holcim_fr'.humanize
		%td
			= 'holcim_en'.humanize
		%td
			= 'lafarge'.humanize
		%td
			= 'peg'.humanize
		%td
			= 'client_1'.humanize
		%td
			= 'client_2'.humanize
		%td
			= 'client_3'.humanize
		%td
			= 'client_4'.humanize
		%td
			= 'client_5'.humanize
		%td
			= 'client_6'.humanize
		%td
			= 'client_7'.humanize
		%td
			= 'client_8'.humanize
		%td
			= 'client_9'.humanize
		%td
			= 'client_10'.humanize
		%td
			= 'client_11'.humanize
		%td
			= 'client_12'.humanize
		%td
			= 'client_13'.humanize
		%td
			= 'client_14'.humanize
		%td
			= 'client_15'.humanize
		%td
			= 'client_16'.humanize
		%td
			= 'client_17'.humanize
		%td
			= 'client_18'.humanize
		%td
			= 'client_19'.humanize
		%td
			= 'client_20'.humanize
	%tr
		%td
			= @codification.designation_fr 
		%td
			= @codification.designation_en 
		%td
			= @codification.planus 
		%td
			= @codification.holcim_fr 
		%td
			= @codification.holcim_en 
		%td
			= @codification.lafarge 
		%td
			= @codification.peg 
		%td
			= @codification.client_1 
		%td
			= @codification.client_2 
		%td
			= @codification.client_3 
		%td
			= @codification.client_4 
		%td
			= @codification.client_5 
		%td
			= @codification.client_6 
		%td
			= @codification.client_7 
		%td
			= @codification.client_8 
		%td
			= @codification.client_9 
		%td
			= @codification.client_10 
		%td
			= @codification.client_11 
		%td
			= @codification.client_12 
		%td
			= @codification.client_13 
		%td
			= @codification.client_14 
		%td
			= @codification.client_15 
		%td
			= @codification.client_16 
		%td
			= @codification.client_17 
		%td
			= @codification.client_18 
		%td
			= @codification.client_19 
		%td
			= @codification.client_20 